# linux ignore
*.[oa]
*~
# windows ignore
*.obj
*.sdf
*.suo
*.opensdf
*.user
*.ncb
*.swp

/ipch
/StringFormat/Debug
/CacheBuffer/Debug
/SockIO/SocketDemo/Debug
/SockIO/SocketDemo/Release
# /SockIO/SocketDemo/ipch
/SockIO/SocketClient/Debug
/SockIO/SocketClient/Release

