# linux ignore
*.[oa]
*~
# windows ignore
*.obj
*.sdf
*.suo
*.opensdf
*.user
*.ncb
*.swp

/ipch
/StringFormat/Debug
/CacheBuffer/Debug
/CacheBuffer/_UpgradeReport_Files

/SockIO/SocketDemo/Debug
/SockIO/SocketDemo/Release
/SockIO/SocketDemo/ipch
/SockIO/SocketClient/Debug
/SockIO/SocketClient/Release
/SockIO/SocketClient/ipch
/SockIO/SocketClient/OutRelease


